* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4efff;
  font-family: 'Segoe UI', sans-serif;
  color: #4b0082;
  line-height: 1.6;
  text-align: center;
}

h1 {
  padding: 20px;
  background-color: #d2b4de;
  color: white;
  margin-bottom: 20px;
  font-size: 2em;
}

.formulario-compra {
  background-color: #ede3ff;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.formulario-compra label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #6c3483;
}

.formulario-compra input,
.formulario-compra select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #bb8fce;
  border-radius: 6px;
  font-size: 1em;
}

.formulario-compra button {
  width: 100%;
  padding: 12px;
  background-color: #9b30ff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario-compra button:hover {
  background-color: #6a0dad;
}

footer {
  font-size: 20px;
  padding: 20px;
  background-color: #e6d4ff;
  margin-top: 40px;
  color: #4b0082;
}
.encabezado {
  margin: 0;
  padding: 10px 20px;
  background-color: #d2b4de;
  color: white;
  text-align: center;
}

.menu {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px `10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #4b0082;
}
.item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ede7f6;
  border: 1px solid #d1c4e9;
  border-radius: 8px;
}

.item img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.item-info {
  flex-grow: 1;
  font-size: 1rem;
  color: #4a148c;
}
.redes a {
  margin: 0 10px;
  font-size: 1.5em;
  color: #6a0dad;
  transition: color 0.3s;
}

.redes a:hover {
  color: #4b0082;
}
