body {
  background: #d7bde2;
  font-family: cursive;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-top: 30px;
  color: #4a235a;
}

p {
  font-size: 1.5em;
  margin: 15px 0;
}

a {
  color: #4a235a;
  text-decoration: none;
}

a:hover {
  color: #311b39;
  text-decoration: underline;
}

.logo-img {
  width: 400px;
  height: 300px;
  border-radius: 6px;
  margin-top: 20px;
}

.inicio {
  margin: 20px;
  padding: 10px 20px;
  background-color: #884ea0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
}

.inicio:hover {
  background-color: #6c3483;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-text {
  width: 45%;
  text-align: left;
}

.contact-icons {
  margin: 20px 0;
}

.contact-icons a {
  display: inline-block;
  margin: 10px 10px 0 0;
  font-size: 20px;
  color: #4a235a;
  transition: color 0.3s ease;
}

.contact-icons a:hover {
  color: #311b39;
}


footer {
  background-color: #e6d4ff;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #4b0082;
  margin-top: 40px;
}

.redes a {
  margin: 0 10px;
  font-size: 1.5em;
  color: #6a0dad;
  transition: color 0.3s;
}

.redes a:hover {
  color: white;
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
  }
